/*styles.css*/



body {
    background-color: aquamarine;
}

img {
    height:200px;
    width:auto;
    box-align:center;
    border:blueviolet;
    border-width: 55px;
    border-radius: 55px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;

}

p {
    text-align: center;
}